body {
    min-height: 2500px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #E5E4E2;
}

.project {
    background-color: #E5E4E2
}

footer {
    background-color: #E5E4E2
}

section {
    padding-top: 5rem;
}